# **Data Information Quality Project**


*  ID Project:  3
*  ID Person:   10104067
*  Dataset:     1

![image.png]()

# **1. Data Exploration and Data Quality Assessment**

Import libraries:

In [1]:
import pandas as pd
import numpy as np

Import data:

In [2]:
MOVIES = pd.read_csv("https://raw.githubusercontent.com/lukamath/DIQ_Project/master/movies.csv")
MOVIES

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,STARS,VOTES,RunTime,Gross
0,Blood Red Sky,(2021),"\nAction, Horror, Thriller",6.1,\nA woman with a mysterious illness is forced ...,\n Director:\nPeter Thorwarth\n| \n Star...,"21,062",121.0,NaN
1,Masters of the Universe: Revelation,(2021– ),"\nAnimation, Action, Adventure",5.0,\nThe war for Eternia begins again in what may...,"\n \n Stars:\nChris Wood, \nSara...","17,870",25.0,NaN
2,The Walking Dead,(2010–2022),"\nDrama, Horror, Thriller",8.2,\nSheriff Deputy Rick Grimes wakes up from a c...,"\n \n Stars:\nAndrew Lincoln, \n...","885,805",44.0,NaN
3,Rick and Morty,(2013– ),"\nAnimation, Adventure, Comedy",9.2,\nAn animated series that follows the exploits...,"\n \n Stars:\nJustin Roiland, \n...","414,849",23.0,NaN
4,Army of Thieves,(2021),"\nAction, Crime, Horror",NaN,"\nA prequel, set before the events of Army of ...",\n Director:\nMatthias Schweighöfer\n| \n ...,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
9994,The Imperfects,(2021– ),"\nAdventure, Drama, Fantasy",NaN,\nAdd a Plot\n,\n \n Stars:\nMorgan Taylor Camp...,NaN,NaN,NaN
9995,Arcane,(2021– ),"\nAnimation, Action, Adventure",NaN,\nAdd a Plot\n,\n,NaN,NaN,NaN
9996,Heart of Invictus,(2022– ),"\nDocumentary, Sport",NaN,\nAdd a Plot\n,\n Director:\nOrlando von Einsiedel\n| \n ...,NaN,NaN,NaN
9997,The Imperfects,(2021– ),"\nAdventure, Drama, Fantasy",NaN,\nAdd a Plot\n,\n Director:\nJovanka Vuckovic\n| \n Sta...,NaN,NaN,NaN
9998,The Imperfects,(2021– ),"\nAdventure, Drama, Fantasy",NaN,\nAdd a Plot\n,\n Director:\nJovanka Vuckovic\n| \n Sta...,NaN,NaN,NaN

Basic operation to inspect data:

In [3]:
#number of tuples and columns of the data source
MOVIES.shape

(9999, 9)

In [4]:
#show the schema of the data source
MOVIES.columns

Index(['MOVIES', 'YEAR', 'GENRE', 'RATING', 'ONE-LINE', 'STARS', 'VOTES',
       'RunTime', 'Gross'],
      dtype='object')

In [5]:
#head(K) shows the first K lines of the data source
MOVIES.head(20)

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,STARS,VOTES,RunTime,Gross
0,Blood Red Sky,(2021),"\nAction, Horror, Thriller",6.1,\nA woman with a mysterious illness is forced ...,\n Director:\nPeter Thorwarth\n| \n Star...,"21,062",121.0,NaN
1,Masters of the Universe: Revelation,(2021– ),"\nAnimation, Action, Adventure",5.0,\nThe war for Eternia begins again in what may...,"\n \n Stars:\nChris Wood, \nSara...","17,870",25.0,NaN
2,The Walking Dead,(2010–2022),"\nDrama, Horror, Thriller",8.2,\nSheriff Deputy Rick Grimes wakes up from a c...,"\n \n Stars:\nAndrew Lincoln, \n...","885,805",44.0,NaN
3,Rick and Morty,(2013– ),"\nAnimation, Adventure, Comedy",9.2,\nAn animated series that follows the exploits...,"\n \n Stars:\nJustin Roiland, \n...","414,849",23.0,NaN
4,Army of Thieves,(2021),"\nAction, Crime, Horror",NaN,"\nA prequel, set before the events of Army of ...",\n Director:\nMatthias Schweighöfer\n| \n ...,NaN,NaN,NaN
5,Outer Banks,(2020– ),"\nAction, Crime, Drama",7.6,\nA group of teenagers from the wrong side of ...,"\n \n Stars:\nChase Stokes, \nMa...","25,858",50.0,NaN
6,The Last Letter from Your Lover,(2021),"\nDrama, Romance",6.8,\nA pair of interwoven stories set in the past...,\n Director:\nAugustine Frizzell\n| \n S...,"5,283",110.0,NaN
7,Dexter,(2006–2013),"\nCrime, Drama, Mystery",8.6,"\nBy day, mild-mannered Dexter is a blood-spat...","\n \n Stars:\nMichael C. Hall, \...","665,387",53.0,NaN
8,Never Have I Ever,(2020– ),\nComedy,7.9,\nThe complicated life of a modern-day first g...,\n \n Stars:\nMaitreyi Ramakrish...,"34,530",30.0,NaN
9,Virgin River,(2019– ),"\nDrama, Romance",7.4,"\nSeeking a fresh start, nurse practitioner Me...",\n \n Stars:\nAlexandra Breckenr...,"27,279",44.0,NaN
10,Gunpowder Milkshake,(2021),"\nAction, Adventure, Thriller",6.0,\nThree generations of women fight back agains...,\n Director:\nNavot Papushado\n| \n Star...,"17,989",114.0,NaN
11,Lucifer,(2016–2021),"\nCrime, Drama, Fantasy",8.1,\nLucifer Morningstar has decided he's had eno...,"\n \n Stars:\nTom Ellis, \nLesle...","264,222",42.0,NaN
12,Fear Street: 1994,(2021),"\nDrama, Horror, Mystery",6.2,\nA circle of teenage friends accidentally enc...,\n Director:\nLeigh Janiak\n| \n Stars:\...,"50,148",107.0,NaN
13,Sex/Life,(2021– ),"\nComedy, Drama, Romance",5.4,\nA suburban mother of two takes a fantasy-cha...,"\n \n Stars:\nSarah Shahi, \nMik...","12,172",NaN,NaN
14,American Horror Story,(2011– ),"\nDrama, Horror, Thriller",8.0,\nAn anthology series centering on different c...,"\n \n Stars:\nLady Gaga, \nKathy...","286,488",60.0,NaN
15,Grey's Anatomy,(2005– ),"\nDrama, Romance",7.5,\nA drama centered on the personal and profess...,"\n \n Stars:\nEllen Pompeo, \nCh...","266,258",41.0,NaN
16,Breaking Bad,(2008–2013),"\nCrime, Drama, Thriller",9.4,\nA high school chemistry teacher diagnosed wi...,"\n \n Stars:\nBryan Cranston, \n...","1,552,311",49.0,NaN
17,The Good Doctor,(2017– ),\nDrama,8.1,"\nShaun Murphy, a young surgeon with autism an...","\n \n Stars:\nFreddie Highmore, ...","70,871",41.0,NaN
18,Atypical,(2017–2021),"\nComedy, Drama",8.3,"\nSam, an 18-year-old on the autism spectrum, ...",\n \n Stars:\nJennifer Jason Lei...,"71,544",30.0,NaN
19,Stranger Things,(2016– ),"\nDrama, Fantasy, Horror",8.7,"\nWhen a young boy disappears, his mother, a p...",\n \n Stars:\nMillie Bobby Brown...,"885,856",51.0,NaN

In [6]:
#for each attribute the system shows the type of data. The type of data is defined analyzing the values
MOVIES.dtypes

MOVIES       object
YEAR         object
GENRE        object
RATING      float64
ONE-LINE     object
STARS        object
VOTES        object
RunTime     float64
Gross        object
dtype: object

VOTES and Gross are not numeric type. I am going to convert them later, after performing some cleaning and normalization operations

In [8]:
#number of not null values for each column
MOVIES.count()

MOVIES      9999
YEAR        9355
GENRE       9919
RATING      8179
ONE-LINE    9999
STARS       9999
VOTES       8179
RunTime     7041
Gross        460
dtype: int64

The columns MOVIES and ONE-LINE have no null values as they have 9999 values equal to the number of rows of dataset

# **Duplicated Records**

In [9]:
#seeking duplicate rows with exact matching
DUPLICATES = MOVIES.duplicated()
DUPLICATES

print(DUPLICATES.any())

True

In the dataset there are records that are matching exactly

In [10]:
MOVIES[DUPLICATES]

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,STARS,VOTES,RunTime,Gross
6833,Mighty Little Bheem,(2019– ),"\nAnimation, Short, Adventure",NaN,\nAdd a Plot\n,"\n Directors:\nRajiv Chilaka, \nKrishna Moh...",NaN,NaN,NaN
6835,Mighty Little Bheem,(2019– ),"\nAnimation, Short, Adventure",9.0,\nAdd a Plot\n,"\n Directors:\nRajiv Chilaka, \nKrishna Moh...",6,NaN,NaN
6836,Mighty Little Bheem,(2019– ),"\nAnimation, Short, Adventure",9.0,\nAdd a Plot\n,"\n Directors:\nRajiv Chilaka, \nKrishna Moh...",6,NaN,NaN
6837,Mighty Little Bheem,(2019– ),"\nAnimation, Short, Adventure",NaN,\nAdd a Plot\n,"\n Directors:\nRajiv Chilaka, \nKrishna Moh...",NaN,NaN,NaN
6838,Mighty Little Bheem,(2019– ),"\nAnimation, Short, Adventure",NaN,\nAdd a Plot\n,"\n Directors:\nRajiv Chilaka, \nKrishna Moh...",NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
9989,1899,(2022– ),"\nDrama, History, Horror",NaN,\nAdd a Plot\n,\n Director:\nBaran bo Odar\n,NaN,NaN,NaN
9990,1899,(2022– ),"\nDrama, History, Horror",NaN,\nAdd a Plot\n,\n Director:\nBaran bo Odar\n,NaN,NaN,NaN
9991,1899,(2022– ),"\nDrama, History, Horror",NaN,\nAdd a Plot\n,\n Director:\nBaran bo Odar\n,NaN,NaN,NaN
9992,1899,(2022– ),"\nDrama, History, Horror",NaN,\nAdd a Plot\n,\n Director:\nBaran bo Odar\n,NaN,NaN,NaN
9994,The Imperfects,(2021– ),"\nAdventure, Drama, Fantasy",NaN,\nAdd a Plot\n,\n \n Stars:\nMorgan Taylor Camp...,NaN,NaN,NaN

# **Duplicated Titles**

In [12]:
#I check which movie titles have duplicates
MOVIES_COUNT = MOVIES['MOVIES'].value_counts()
MOVIES_COUNT

MOVIES
 Bleach: Burîchi                         65
 Mighty Little Bheem                     64
 Avatar: The Last Airbender              61
 La Reina de Indias y el Conquistador    60
 Dexter                                  48
                                         ..
Halston                                   1
Castle Rock                               1
 Totenfrau                                1
 Arcane                                   1
 Shûmatsu no Valkyrie                     1
Name: count, Length: 6817, dtype: int64

In [13]:
MOVIES['MOVIES'].unique()

array(['Blood Red Sky', 'Masters of the Universe: Revelation',
       'The Walking Dead', ..., ' Totenfrau', ' Arcane',
       ' Heart of Invictus'], dtype=object)

In [14]:
MOVIES['MOVIES'].nunique()

6817

The dataset has 6817 distinct records on 9999

In [ ]:
MOVIES['VOTES'] = MOVIES['VOTES'].str.replace(',', '', regex=True)
MOVIES['VOTES'] = pd.to_numeric(MOVIES['VOTES'], errors='coerce')  # Convert to numeric (keeps NaN)
# MOVIES['VOTES'] = MOVIES['VOTES'].fillna(0).astype(int)  # Fill NaN with 0 and convert
# MOVIES['VOTES'] = MOVIES['VOTES'].astype(int)

MOVIES['Gross'] = MOVIES['Gross'].str.replace('$,M', '', regex=True)
MOVIES['Gross'] = pd.to_numeric(MOVIES['Gross'], errors='coerce')  # Convert to numeric (keeps NaN)
# MOVIES['Gross'] = MOVIES['Gross'].fillna(0).astype(int)  # Fill NaN with 0 and convert
# MOVIES['Gross'] = MOVIES['Gross'].astype(int)

**COMPLETENESS**

The completeness of a table characterizes the extent to which a table represents the corresponding real world.

Completeness in the relational model can be characterized by the presence of null values. In a model with null values, the presence of a null value has the general meaning of a missing value, i.e., a value that exist in the real-world but it is not available.

*Definition*: The degree to which a given data collection includes the data describing the corresponding set of real-world objects.

*Evaluation*: Number of not null values / Total number of values

First I check if and where there are Nan in the dirty dataset, as is

In [15]:
#isnull() shows which values are null
MOVIES.isnull()

      MOVIES   YEAR  GENRE  RATING  ONE-LINE  STARS  VOTES  RunTime  Gross
0      False  False  False   False     False  False  False    False   True
1      False  False  False   False     False  False  False    False   True
2      False  False  False   False     False  False  False    False   True
3      False  False  False   False     False  False  False    False   True
4      False  False  False    True     False  False   True     True   True
...      ...    ...    ...     ...       ...    ...    ...      ...    ...
9994   False  False  False    True     False  False   True     True   True
9995   False  False  False    True     False  False   True     True   True
9996   False  False  False    True     False  False   True     True   True
9997   False  False  False    True     False  False   True     True   True
9998   False  False  False    True     False  False   True     True   True

[9999 rows x 9 columns]

In [17]:
MOVIES['Gross'].isnull()

0       True
1       True
2       True
3       True
4       True
        ...
9994    True
9995    True
9996    True
9997    True
9998    True
Name: Gross, Length: 9999, dtype: bool

In [18]:
#number of null values for each column
MOVIES.isnull().sum()

MOVIES         0
YEAR         644
GENRE         80
RATING      1820
ONE-LINE       0
STARS          0
VOTES       1820
RunTime     2958
Gross       9539
dtype: int64

In [20]:
#total number of not null values
NOT_NULL = MOVIES.count().sum()
MOVIES.count().sum()

np.int64(73130)

In [21]:
#total number of null values
NULL = MOVIES.isnull().sum().sum()
MOVIES.isnull().sum().sum()

np.int64(16861)

In [22]:
#total number of cells
TOT = MOVIES.shape[0]*MOVIES.shape[1]
TOT

89991

In [23]:
TOT = NOT_NULL + NULL
TOT

np.int64(89991)

The sum of null and not-null is consistent with respect to the total cells of the dataset

Completeness Evaluation:

In [24]:
COMPLETENESS = NOT_NULL / TOT

In [25]:
COMPLETENESS = '{0:.1f}%'.format(COMPLETENESS*100)
print(COMPLETENESS)

81.3%

# Missing values with a different format #
Exploring the dataset it is possible to assert that there are some values that must be considered as null even if they are not:
*   \n (if it is unique value in cell)
*   \nAdd a Plot\n (this value is repetead in some records under the column "ONE-LINE" instead of a valid values)

Let's proceed and see how the count of null and the completeness are changing

In [26]:
#we added to the set of missing values also '\nAdd a Plot\n' and '\n'
MISSING = ['\nAdd a Plot\n','\n']
MOVIES2 = pd.read_csv('https://raw.githubusercontent.com/lukamath/DIQ_Project/master/movies.csv', na_values = MISSING)

In [27]:
MOVIES2.isnull()

      MOVIES   YEAR  GENRE  RATING  ONE-LINE  STARS  VOTES  RunTime  Gross
0      False  False  False   False     False  False  False    False   True
1      False  False  False   False     False  False  False    False   True
2      False  False  False   False     False  False  False    False   True
3      False  False  False   False     False  False  False    False   True
4      False  False  False    True     False  False   True     True   True
...      ...    ...    ...     ...       ...    ...    ...      ...    ...
9994   False  False  False    True      True  False   True     True   True
9995   False  False  False    True      True   True   True     True   True
9996   False  False  False    True      True  False   True     True   True
9997   False  False  False    True      True  False   True     True   True
9998   False  False  False    True      True  False   True     True   True

[9999 rows x 9 columns]

In [56]:
#Export MOVIES2 to csv without
import csv
# MOVIES2['GENRE'] = MOVIES2['GENRE'].str.lstrip('\n')
# MOVIES2['ONE-LINE'] = MOVIES2['ONE-LINE'].str.lstrip('\n')
# MOVIES2['STARS'] = MOVIES2['STARS'].str.lstrip('\n')
# MOVIES2['STARS'] = MOVIES2['STARS'].str.replace('\n', '').str.strip()
# MOVIES2['GENRE'] = MOVIES2['GENRE'].str.replace('\n', '').str.strip()
MOVIES2 = MOVIES2.replace({'\n': ''}, regex=True)
# Export DataFrame to a CSV file
file_path = 'Movies2Output.csv'
MOVIES2.to_csv(file_path, index=False, quoting=csv.QUOTE_MINIMAL)

In [ ]:
'''
semicolon_count = MOVIES2.to_string().count(';')
print(f"Total semicolons in the dataset: {semicolon_count}")

# Count semicolons in the 'MOVIES' column
semicolon_count = MOVIES2['MOVIES'].astype(str).str.count(';').sum()
print(f"Total semicolons in the 'MOVIES' column: {semicolon_count}")
# Filter rows where the 'MOVIES' column contains a semicolon
rows_with_semicolon = MOVIES2[MOVIES2['MOVIES'].str.contains(';', na=False)]
# Display the content of the 'MOVIES' column for these rows
semicolon_cells = rows_with_semicolon['MOVIES'].tolist()
print("Cells in 'MOVIES' column containing a semicolon:")
print(semicolon_cells)

specific_record = MOVIES2[MOVIES2['MOVIES'] == 'Hawaii Five-0']
print(specific_record)
specific_record

specific_record2 = MOVIES2.loc[170]  # Replace 2 with the desired index label
specific_record2'''

Empty DataFrame
Columns: [MOVIES, YEAR, GENRE, RATING, ONE-LINE, STARS, VOTES, RunTime, Gross, Repeated Genres]
Index: []

The result above of isnull() is already showing how some of the last records are reporting the presence of null values (True) under ONE-LINE (before they reported False)

In [28]:
#total number of new not null values
NOT_NULL2 = MOVIES2.count().sum()
MOVIES2.count().sum()

np.int64(71409)

In [29]:
#total number of null values after adding different format of null
NULL2 = MOVIES2.isnull().sum().sum()
MOVIES2.isnull().sum().sum()

np.int64(18582)

Sum check

In [30]:
TOT2 = NOT_NULL2 + NULL2
TOT2

np.int64(89991)

In [31]:
COMPLETENESS2 = NOT_NULL2 / TOT2

In [32]:
COMPLETENESS2 = '{0:.1f}%'.format(COMPLETENESS2*100)
print(COMPLETENESS2)

79.4%

The so calculated completeness is little lower than the previous one

**ACCURACY**

*Definition*: The extent to which data are correct, reliable and certified.

Syntactic Accuracy is the closeness of a value v to the elements of the corresponding definition domain D.

Semantic Accuracy is defined as the closeness between a data value v and a data value v’.

It is possible to calculate the accuracy of an attribute, i.e., attribute (or column) accuracy, of a relation, i.e., relation accuracy, or of a whole database, i.e., database accuracy.

*Evaluation*: Number of accurate values / Total number of values

ACCURACY EVALUATION:

In [64]:
#Function to extract all unique genres from the 'GENRE' column
def extract_unique_genres(df):
    # Split genres by commas and strip spaces, then flatten the list and find unique values
    genres = MOVIES['GENRE'].str.split(',').explode().str.strip().unique()
    return genres
# Extract all unique genres
unique_genres = extract_unique_genres(MOVIES)
unique_genres

#to avoid Null and errors
# def extract_unique_genres(df):
#     # Split genres by commas and strip spaces, then flatten the list and find unique values
#     genres = df['GENRE'].str.split(',').explode().str.strip().dropna().unique()
#     return genres
# # Extract all unique genres
# unique_genres = extract_unique_genres(MOVIES)
# # Print the unique genres as a comma-separated string
# print(", ".join(map(str, unique_genres)))

array(['Action', 'Horror', 'Thriller', 'Animation', 'Adventure', 'Drama',
       'Comedy', 'Crime', 'Romance', 'Mystery', 'Fantasy', 'History',
       'Sci-Fi', 'Biography', 'Family', 'Documentary', 'Music', 'Sport',
       'Short', 'Game-Show', 'Reality-TV', 'Musical', 'War', 'Western',
       'Film-Noir', nan, 'Talk-Show', 'News'], dtype=object)

In [79]:
# Function to check for repeated values in the 'GENRE' column
def check_repeated_genres(row):
    # Handle NaN values in the 'GENRE' column
    if pd.isna(row):
        return []
    
    # Split the genres and strip any leading/trailing spaces
    genres = [genre.strip() for genre in row.split(',')]  
    
    # Find duplicate genres in the list
    duplicates = [genre for genre in genres if genres.count(genre) > 1]
    
    # Return the unique duplicates
    return list(set(duplicates))

# Apply the function to the 'GENRE' column
MOVIES2['Repeated Genres'] = MOVIES2['GENRE'].apply(check_repeated_genres)

# Filter records with repeated genres
repeated_genres_records = MOVIES2[MOVIES2['Repeated Genres'].apply(len) > 0]

# Display the records with repeated genres
print(repeated_genres_records)

Empty DataFrame
Columns: [MOVIES, YEAR, GENRE, RATING, ONE-LINE, STARS, VOTES, RunTime, Gross, Repeated Genres]
Index: []

The Accuracy for "GENRE" is 100%: there are not mispelled or duplicated genre for each records

**CONSISTENCY**

The consistency dimension captures the violation of semantic rules defined over (a set of) data items, where items can be tuples of relational tables or records in a file.

Semantic rules can be integrity constaints, data edits or business rules.

*Definition*: The satisfaction of semantic rules defined over a set of data items.

*Evaluation*: Number of consistent tuples / Total number of tuples

In [67]:
#Rule: if votes is not Null then rate must be not null and viceversa
#we add the column consistency
#we assign the value 1 if the rule is satisfied, 0 otherwise

# Create a new column that checks the condition
MOVIES['consistency_rating'] = MOVIES.apply(
    lambda row: 1 if ((pd.notna(row['RATING']) and pd.notna(row['VOTES'])) or 
                      (pd.isna(row['RATING']) and pd.isna(row['VOTES']))) 
               else 0, axis=1)

# Show the resulting DataFrame
# MOVIES.head(30)
MOVIES

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,STARS,VOTES,RunTime,Gross,Repeated Genres,consistency_rating
0,Blood Red Sky,(2021),"\nAction, Horror, Thriller",6.1,\nA woman with a mysterious illness is forced ...,\n Director:\nPeter Thorwarth\n| \n Star...,"21,062",121.0,NaN,[],1
1,Masters of the Universe: Revelation,(2021– ),"\nAnimation, Action, Adventure",5.0,\nThe war for Eternia begins again in what may...,"\n \n Stars:\nChris Wood, \nSara...","17,870",25.0,NaN,[],1
2,The Walking Dead,(2010–2022),"\nDrama, Horror, Thriller",8.2,\nSheriff Deputy Rick Grimes wakes up from a c...,"\n \n Stars:\nAndrew Lincoln, \n...","885,805",44.0,NaN,[],1
3,Rick and Morty,(2013– ),"\nAnimation, Adventure, Comedy",9.2,\nAn animated series that follows the exploits...,"\n \n Stars:\nJustin Roiland, \n...","414,849",23.0,NaN,[],1
4,Army of Thieves,(2021),"\nAction, Crime, Horror",NaN,"\nA prequel, set before the events of Army of ...",\n Director:\nMatthias Schweighöfer\n| \n ...,NaN,NaN,NaN,[],1
...,...,...,...,...,...,...,...,...,...,...,...
9994,The Imperfects,(2021– ),"\nAdventure, Drama, Fantasy",NaN,\nAdd a Plot\n,\n \n Stars:\nMorgan Taylor Camp...,NaN,NaN,NaN,[],1
9995,Arcane,(2021– ),"\nAnimation, Action, Adventure",NaN,\nAdd a Plot\n,\n,NaN,NaN,NaN,[],1
9996,Heart of Invictus,(2022– ),"\nDocumentary, Sport",NaN,\nAdd a Plot\n,\n Director:\nOrlando von Einsiedel\n| \n ...,NaN,NaN,NaN,[],1
9997,The Imperfects,(2021– ),"\nAdventure, Drama, Fantasy",NaN,\nAdd a Plot\n,\n Director:\nJovanka Vuckovic\n| \n Sta...,NaN,NaN,NaN,[],1
9998,The Imperfects,(2021– ),"\nAdventure, Drama, Fantasy",NaN,\nAdd a Plot\n,\n Director:\nJovanka Vuckovic\n| \n Sta...,NaN,NaN,NaN,[],1

In [78]:
# Count how many records have a consistency_rating of 0
CONSISTENT = MOVIES['consistency_rating']== 1
CONSISTENT = CONSISTENT.sum()
# Print the result
print(f"Number of records with 0 in 'consistency_rating': {CONSISTENT}")

Number of records with 0 in 'consistency_rating': 9999

THe consistency valuated on the basis of the rule that if there is a rating there be at least a vote and viceversa is 100%